@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Srisakdi');

body {
  margin: 1rem;
}
.header {
  margin-bottom: 1rem;
}
h1{
  font-family: 'Srisakdi', cursive;
  margin: 5%;
}
p, 
.nav{
  font-family:'Josefin Slab', serif;
}
.btn{
 margin: 2%;
 padding-left: 2%;
 padding-right: 2%;
}

.nav{
  display: inline-block;
  padding: 1%;
  margin: 2%;
  font-size: 2rem;
}