@import url("https://fonts.googleapis.com/css?family=Josefin+Slab|Srisakdi");

body {
  margin: 1rem;
}
.header {
  margin-bottom: 1rem;
}
h1 {
  font-family: "Srisakdi", cursive;
  margin: 5%;
}
p,
.nav {
  font-family: "Josefin Slab", serif;
  font-size: 16px;
}
.btn {
  margin: 2%;
  padding-left: 2%;
  padding-right: 2%;
}

.nav {
  font-size: 2rem;
}

p {
  font-size: 16px;
}

.active {
  font-weight: bold;
}

.nav a {
  color: grey;
  text-decoration: none;
}
