@import url("https://fonts.googleapis.com/css?family=Questrial");
.container {
  width: 100%;
  height: 100%;
}
h3,
h2 {
  text-align: center;
  font-weight: bold;
  padding-top: 5%;
  padding-bottom: 2%;
  color: #423d42;
  text-decoration: none !important;
}
.team-link {
  display: block;
  width: 80%;
}
.active {
  font-weight: bold;
}
.nav a {
  color: rgb(80, 2, 80);
  text-decoration: none;
}
.card {
  height: 350px;
}
